.navbar {
  background-color: #2d2d2d !important;
  margin: 0;
  border-radius: 0;
}

.navbar-header {
  padding: 0;
}

.da-slide h2 {
	width: auto;
	max-width: 80%;
	top: 20px;
}

.da-slide p {
	width: auto;
	max-width: 80%;
}

.credit {
	display: none;
}